*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.card{
  width:fit-content ;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 20px;
  
}
img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}